# Phython
## Introduction
Das ist eine **Python**-*Einf√ºhrung*

In [1]:
print("Hello World!")

Hello World!

In [2]:
name = "Lovelace"

In [3]:
print(name)

Lovelace

In [4]:
age = 73

In [6]:
print(age)

73

In [7]:
size = 1.7123

In [8]:
print(size)

1.7123

In [9]:
knows_math = True
print(knows_math)
likes_slacking = False
print(likes_slacking)

True
False

In [10]:
type(name)

str

In [11]:
type(age)

int

In [12]:
type(size)

float

In [13]:
5 + 5

10

In [14]:
age * 100

7300

In [15]:
name + name

'LovelaceLovelace'

In [16]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [19]:
name * 100

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [18]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [20]:
age + size

74.7123

In [21]:
size / age

0.023456164383561642

In [22]:
my_result = size / age

In [23]:
print(my_result)

0.023456164383561642

## Funktionen und Methoden nutzen

In [24]:
name

'Lovelace'

In [25]:
len(name)

8

In [26]:
name.upper()

'LOVELACE'

In [27]:
name.count("e")

2

In [32]:
name.replace("lace", " is everywhere")

'Love is everywhere'

## Listen und Dictionaries

In [35]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [36]:
names[2]

'Curie'

In [37]:
names[0]

'Lovelace'

In [38]:
names[-1]

'Hawking'

In [39]:
names[0:3]

['Lovelace', 'Darwin', 'Curie']

In [40]:
print(names[:2])
print(names[2:])

['Lovelace', 'Darwin']
['Curie', 'Hawking']

In [41]:
names[0:3]

['Lovelace', 'Darwin', 'Curie']

In [59]:
authors_and_birth_years = {"Lovelace": 1882, "Darwin": 1809, "Hawking": 1942}

In [44]:
authors_and_birth_years["Lovelace"]

1882

In [45]:
authors_and_birth_years["Lovelace"] * 100

188200

In [46]:
authors_and_birth_years["Lovelace"] * 2000 / 199

18914.57286432161

## for-Schleife

In [47]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [49]:
for name in names:
    print(name)
    print("---------")

Lovelace
---------
Darwin
---------
Curie
---------
Hawking
---------

In [50]:
for name in names:
    print(name)
print("---------")

Lovelace
Darwin
Curie
Hawking
---------

In [51]:
for key, value in authors_and_birth_years.items():
    print(key)
    print(value)

Lovelace
1882
Darwin
1809
Hawking
1942

In [61]:
for key, value in authors_and_birth_years.items():
    print(key + " was born in ", str(value) + ".")

Lovelace was born in  1882.
Darwin was born in  1809.
Hawking was born in  1942.

## Bedingte Anweisungen

In [68]:
temp = 20
if temp > 15: 
    print("it¬¥s warm")
else:
    print("it¬¥s cold")

it¬¥s warm

In [72]:
temp = 15
if temp >= 25: 
    print("it¬¥s hot")
elif temp <= 15:
    print("it¬¥s warm")
else:
    print("it¬¥s cold")

it¬¥s warm